*{
    margin: 0;
    padding: 0;
}


// DONT TOUCH
@mixin flexCol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
// DONT TOUCH
@mixin flexRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
// DONT TOUCH
@mixin parralax {
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
// DONT TOUCH
@mixin fullScreener {
    height: 100vh;
    width: 100vw;
}
// DONT TOUCH
@mixin animationInfo{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    
}
// DONT TOUCH
@mixin absCentered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.datasection{
    width: 95%;
    @include flexCol();
    align-items: flex-start;
    div{
        @include flexRow();
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        table{
            overflow: hidden;
            width: 45%;
            background: rgb(34, 59, 61);
            border-bottom: .25vw solid white;
            margin-bottom: 2vw;
            span{
                h1{
                    width: 100%;
                    text-align: center;
                }
            }
            tr{
                th,td{
                    text-align: center;
                    font-size: 1vw;
                    padding: .25vw;
                }
                th{
                    border-bottom: .1vw solid white;
                }
                transition: all ease .25s;
                &:hover{
                    background: rgb(69, 128, 133);
                    cursor: pointer;
                }
            }
        }
    
        .extendRow{
            width: 50%;
        }
    }
    
    .slidecontainer{
        width: 45%;
        @include flexRow();
        justify-content: space-between;

        button{
            background: rgb(34, 59, 61);
            color: white;
            font-size: 1vw;
            border-radius: .5vw;
            padding: .25vw;
            cursor: pointer;
        }
    }
}