*{
    margin: 0;
    padding: 0;
}

// DONT TOUCH
@mixin flexCol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
// DONT TOUCH
@mixin flexRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
// DONT TOUCH
@mixin parralax {
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
// DONT TOUCH
@mixin fullScreener {
    height: 100vh;
    width: 100vw;
}
// DONT TOUCH
@mixin animationInfo{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    
}
// DONT TOUCH
@mixin absCentered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

$pinkcolor :rgb(216, 68, 216);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainHeader{
    max-height: 8vh;
    width: 100%;
    color: white;
    @include flexRow();
    justify-content: space-between;
    padding: 1vw 3.5vw;
    transition: all ease .5s;
    background-color: rgb(34, 59, 61);
    margin-bottom: 2vw;
    font-weight: bold;
    border-bottom: .25vw solid white;
    div{
        @include flexRow();
        align-items: flex-end;
        font-family: 'Antonio', sans-serif;

        h1{
            transition: all ease .5s;
            margin-right: 1vw;
        }
        i{
            color: white;
            font-size: 3vw;
            cursor: pointer;
            transition: all ease .5s;
        }
        .fa-globe{
            font-size: 10vw;
            display: none;
        }
        img{
            width: 5%;
            transition: all ease 5s;
            transform: rotate(0deg);

            &:hover{
                transform: rotate(360deg);
            }
        }
        &:hover{
            h1{
                color: rgb(63, 13, 13);
             }
        }
    }

}
