*{
    margin: 0;
    padding: 0;
}

// DONT TOUCH
@mixin flexCol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
// DONT TOUCH
@mixin flexRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
// DONT TOUCH
@mixin parralax {
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
// DONT TOUCH
@mixin fullScreener {
    height: 100vh;
    width: 100vw;
}
// DONT TOUCH
@mixin animationInfo{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    
}
// DONT TOUCH
@mixin absCentered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.welcome_section{
    @include flexRow();
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    margin-bottom: 4vh;
    div{
        @include flexCol();
        justify-content: space-evenly;
        align-items: flex-start;
        padding:1% 2%;
        width: 45%;
        font-family: Arial, sans-serif;
        color: white;
        min-height: 5vw;
        // box-shadow: .5rem .5rem white;
        background-color: rgb(34, 59, 61);
        transition: all ease .25s;
        border-bottom: .25vw solid white;

        h1{
            margin-bottom: 1vw;
            font-size: 1.25vw;

        }
        p{
            letter-spacing: 1px;
            font-weight: bold;
            line-height: 1.5;
            font-size: .85vw;
        }

        

    }
    .learnmore{
        @include flexRow();
        align-items: flex-start;
        cursor: pointer;
        width: 50%;
        font-family: Arial, sans-serif;

        a,button:not(.selectbutton),div{
            @include flexCol();
            text-align:left;
            border-bottom: .25vw solid white;
            width: 50%;
            min-height: 9.59vw;
            transition: all ease .25s;
            padding: .5vw;
            line-height: 2;
            font-size: .8vw;

            &:hover{
                box-shadow: none;
                border-radius: 1rem;
                text-decoration: underline;
                select,button{
                    border-radius: .5vw;
                }
            }

        }

        a{
            color: white;
            text-decoration: none;
            // box-shadow: .5rem .5rem white;
            background-color: rgb(34, 59, 61);
        }
    
        button{
            cursor: pointer;
            // box-shadow: .5rem .5rem white;
            background-color: rgb(34, 59, 61);
            color: white;
            font-size: 1rem;
            border: none;
            margin: 0vw .5vw;
        }

        div{
            @include flexRow();
            cursor: default;
            // select,button{
            //     &:hover{
            //         border:.1vw solid salmon;
            //     }
            
            select{
                background: black;
                color: white;
                min-height: 2vw;
                padding: .25vw;
                font-weight: bold;
                cursor: pointer;
                transition: all ease .25s;
                width: 90%;
                border:.1vw solid white;
                margin-right: .5vw;
            }
            button{
                background: black;
                color: white;
                border:.1vw solid white;
                min-height: 2vw;
                transition: all ease .25s;
                padding: 0vw .25vw;

            }
        }
    }
}