* {
  margin: 0;
  padding: 0;
}

.welcome_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 95%;
  margin-bottom: 4vh;
}

.welcome_section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1% 2%;
  width: 45%;
  font-family: Arial, sans-serif;
  color: white;
  min-height: 5vw;
  background-color: #223b3d;
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
  border-bottom: .25vw solid white;
}

.welcome_section div h1 {
  margin-bottom: 1vw;
  font-size: 1.25vw;
}

.welcome_section div p {
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 1.5;
  font-size: .85vw;
}

.welcome_section .learnmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
  width: 50%;
  font-family: Arial, sans-serif;
}

.welcome_section .learnmore a, .welcome_section .learnmore button:not(.selectbutton), .welcome_section .learnmore div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  border-bottom: .25vw solid white;
  width: 50%;
  min-height: 5vw;
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
  padding: .5vw;
  line-height: 2;
  font-size: .8vw;
}

.welcome_section .learnmore a:hover, .welcome_section .learnmore button:not(.selectbutton):hover, .welcome_section .learnmore div:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 1rem;
  text-decoration: underline;
}

.welcome_section .learnmore a:hover select, .welcome_section .learnmore a:hover button, .welcome_section .learnmore button:not(.selectbutton):hover select, .welcome_section .learnmore button:not(.selectbutton):hover button, .welcome_section .learnmore div:hover select, .welcome_section .learnmore div:hover button {
  border-radius: .5vw;
}

.welcome_section .learnmore a {
  color: white;
  text-decoration: none;
  background-color: #223b3d;
}

.welcome_section .learnmore button {
  cursor: pointer;
  background-color: #223b3d;
  color: white;
  font-size: 1rem;
  border: none;
  margin: 0vw .5vw;
}

.welcome_section .learnmore div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: default;
}

.welcome_section .learnmore div select {
  background: black;
  color: white;
  min-height: 2vw;
  padding: .25vw;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
  width: 90%;
  border: .1vw solid white;
  margin-right: .5vw;
}

.welcome_section .learnmore div button {
  background: black;
  color: white;
  border: .1vw solid white;
  min-height: 2vw;
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
  padding: 0vw .25vw;
}
/*# sourceMappingURL=welcome.css.map */